.default {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Urbanist', sans-serif;
}

html {
    width: 100vw;
}

body {
    background-color: #eaf4f4;
}

main {
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
}

.mainNavbar {
    justify-content: center;
    min-width: 100vw;
    max-height: 60px;
    background-color: #2f3e46;
    font-weight: 700;
    color: white;
    box-shadow: 0px 1px 2px #52796f,
        0px 2px 4px #52796f,
        0px 4px 8px #52796f,
        0px 8px 16px #52796f;
}

.text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    align-items: center;
    font-size: 1.3rem;
}

#name {
    font-size: 1rem;
    font-weight: 700;
}

#sec-1 {
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: #52796f;
    border-radius: 30px;
    border: 6px solid #ccd7d8;
    margin-bottom: 20px;

}

#sec-2 {
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 220px;
    background-color: #52796f;
    border-radius: 30px;
    border: 6px solid #ccd7d8;
    margin-bottom: 20px;

}

#sec-3 {
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 220px;
    background-color: #52796f;
    border-radius: 30px;
    border: 6px solid #ccd7d8;
    margin-bottom: 20px;

}

#header {
    flex-direction: column;
    align-items: center;
    color: #354f52;
}

.intro {
    text-align: center;
    max-width: 320px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
}

.brand-icon {
    color: white;
    margin-top: 10px;

}

.brand-title {
    font-weight: 700;
    font-size: 22px;
    padding-top: 1px;
    padding-left: 5px;
}

#sec-1 p {
    color: white;
    text-align: center;
    line-height: 1.2rem;
    margin: 0 16px;
    margin-bottom: 10px;
    font-size: .75rem;
}

#sec-2 p {
    color: white;
    text-align: center;
    line-height: 1.2rem;
    margin: 0 16px;
    margin-bottom: 10px;
    font-size: .75rem;
}

#sec-3 p {
    color: white;
    text-align: center;
    line-height: 1.2rem;
    margin: 0 16px;
    margin-bottom: 10px;
    font-size: .75rem;
}




input[type=text] {
    width: 240px;
    height: 12px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 2px white,
        0px 0px 2px white,
        0px 0px 4px white,
        0px 0px 8px white;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Urbanist', sans-serif;
}

#sec-3 span {
    padding-left: 1.5px;
}

@media(width>1000px) {
    main {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 100px;
    }

    .intro {
        font-size: 1.6rem;
        text-align: center;
        max-width: 620px;
        line-height: 2.5rem;
    }

    #header {
        margin-top: 50px;
        margin-bottom: 70px;

    }

    #header h3 {
        font-size: 2rem;
    }

    #sec-1 {
        width: 300px;
        height: 220px;
    }

    #sec-1 p {
        margin-bottom: 30px;
    }

    #sec-3 p {
        margin-bottom: 30px;
    }
}

@media(width>1200px) {
    #sec-1 {
        transform: scale(1.25);
    }

    #sec-2 {
        transform: scale(1.25);
    }

    #sec-3 {
        transform: scale(1.25);
    }
}